<div class="form-inline float-start mr-1">
    <select class="form-control" [(ngModel)]="itemsPerPage">
        <option value="5">5 per Page</option>
        <option value="10">10 per Page</option>
        <option value="15">15 per Page</option>
        <option value="20">20 per Page</option>
    </select>
</div>


<div class="btn-group float-end">
    <ul class="pagination ">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>

