<ng-container>
    <h5>Product {{ (mode == 'edit')? product.id : ''}}</h5>
    <form #form = "ngForm">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="product.name" required #name="ngModel">
            <ul class="text-danger list-unstyled mt-1" *ngIf="name.touched && name.invalid">
                <li *ngFor="let err of name.errors|validationFormat:'name'">{{err}}</li>
            </ul>
        </div>
        <div class="mb-3">
            <label class="form-label">Categories</label>
            <input type="text" class="form-control" name="category" [(ngModel)]="product.category" #category="ngModel">
            <ul class="text-danger list-unstyled mt-1" *ngIf="category.touched && category.invalid">
                <li *ngFor="let err of name.errors|validationFormat:'category'">{{err}}</li>
            </ul>
        </div>       
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="3" name="description" [(ngModel)]="product.description"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" name="price" #price = "ngModel" [(ngModel)]="product.price" required min=0.1>
            <ul class="text-danger list-unstyled mt-1" *ngIf="price.touched && price.invalid">
                <li *ngFor="let err of price.errors|validationFormat:'price'">{{err}}</li>
            </ul>
        </div>
        <div class="mb-3">
            <label class="form-label">Calories</label>
            <input type="number" class="form-control" name="calories" [(ngModel)]="product.calories">
        </div>
        <div class="text-center">
            <button class="btn btn-primary me-2" (click)="saveProduct()"
                [disabled]="form.invalid">{{mode == 'edit'? 'Save':'Create'}}</button>
            <button class="btn btn-light" (click)="cancel()">Cancel</button>
        </div>
    </form>
</ng-container>