<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">FOOD STORE ADMINISTRATION</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="orders">Orders</a>
          </li>  
        </ul>
        <button class="btn btn-outline-success border-0 text-white" routerLink="/">
          Back to Store
        </button> 
        <button class="btn btn-outline-danger border-0 text-white" (click)="logout()">
          Sign Out
        </button>        
      </div>
    </div>
  </nav>
  <div class="container px-5 pt-2">
    <router-outlet></router-outlet>
  </div>
 